{% extends "personal/header.html" %}

{% block content %}
<p>
I am an aerospace engineering student with a passion for Python. My biggest project to date has been creating a
database to track and manage a company's <b>50+</b> CoOps each academic semester, using <code>tkinter</code>,
    <code>SQLite3</code>, and <code>py2exe</code>.</p>


Other projects include:<br>
<ul>
  <li>FlightAware.com scraper to pull flight info</li>
  <li>METAR scraper/decoder</li>
  <li>A random password generator</li>
  <li>A script to auto backup folders to Dropbox and Box Sync</li>
  <li>A dynamic pressure vs time plot for a rocket launch</li>
  <li>Another personal website hosted on <a href="https://akenan.pythonanywhere.com"
                                            target="_blank">PythonAnywhere</a>.</li>
</ul>

<p>View my projects <a href="https://github.com/alexkenan">here</a>.</p>

<div align="center">
<a href='https://www.linkedin.com/in/alexander-kenan?trk=profile-badge'>
  <img src="https://raw.githubusercontent.com/alexkenan/alexkenan.github.io/master/images/1.png"
       border="0" width="280" height="200">
  </a>
    </div>
<!--<p>
  <button type="button" class="btn btn-primary">Default button</button>
  <button type="button" class="btn btn-default">Default button</button>
</p>-->
{% include "personal/includes/htmlsnippet.html" %}
{% endblock %}