{% extends "personal/header.html" %}

{% block content %}
<p>
Try out my password generator here!</p>

<div class="content container">
    <table class="table table-bordered" style="width:20%">
        <tr class="active">
            <td class="col-md-1">
                <b>Numbers</b>:
            </td>
            <td class="col-md-1">
                <b>Symbols</b>:
            </td>
        </tr>
        <tr>
            <td class="col-md-1">
        <div class="radio">
          <label>
            <input type="radio" name="number" id="number0" value="0" checked>
            0
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="number" id="number1" value="1" checked>
            1
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="number" id="number2" value="2" checked>
            2
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="number" id="number3" value="3" checked>
            3
          </label>
        </div>
            </td>
            <td class="col-md-1">
                <div class="radio">
          <label>
            <input type="radio" name="symbol" id="symbol0" value="0" checked>
            0
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="symbol" id="symbol1" value="1" checked>
            1
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="symbol" id="symbol2" value="2" checked>
            2
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="symbol" id="symbol3" value="3" checked>
            3
          </label>
        </div>
            </td>
        </tr>
        <tr class="active">
            <td class="col-md-2" style="width:100%" colspan="2">
                <div class="checkbox">
                    <label>
                      <input type="checkbox"> Random capitalization?
                    </label>
                  </div>
            </td>
        </tr>
    </table>

    <form action=" " method="post">{% csrf_token %}
        <input type="submit" value="Generate password">
        {{ form }}
    </form>
    <form action=" " method="post">{% csrf_token %}
    {{ form }}
    <p>{{response}}</p>
    <input type="submit" value="Submit" />
    </form>
</div>
{% endblock %}