{% extends "personal/header.html" %}

{% block content %}
<p align="center">
Here are some aviation pictures I have taken:
</p>
{% load staticfiles %}
<div align="center">
    <img src="{% static 'personal/img/2.jpg' %}" width="474" height="633">
    <br><br>
    <img src="{% static 'personal/img/4.png' %}" width="422" height="633">
    <br><br>
    <img src="{% static 'personal/img/3.jpg' %}" width="422" height="633">
    <br><br>
    <img src="{% static 'personal/img/5.jpg' %}" width="422" height="633">
    <br><br>
    <img src="{% static 'personal/img/7.jpg' %}" width="422" height="633">
    <br><br>
    <img src="{% static 'personal/img/8.jpg' %}" width="422" height="633">
    <br><br>
    <img src="{% static 'personal/img/14.jpg' %}" width="722" height="541">
    <br><br>
    <img src="{% static 'personal/img/15.jpg' %}" width="422" height="633">
    <br><br>
    <img src="{% static 'personal/img/18.jpg' %}" width="816" height="612">
    <br><br>
    <img src="{% static 'personal/img/20.jpg' %}" width="422" height="633">
    <br><br>
    <img src="{% static 'personal/img/21.jpg' %}" width="422" height="633">
    <br><br>
    <img src="{% static 'personal/img/22.jpg' %}" width="816" height="612">
    <br><br>
    <img src="{% static 'personal/img/23.jpg' %}" width="422" height="633">
    <br><br>
    <img src="{% static 'personal/img/24.jpg' %}" width="816" height="612">
    <br><br>
    <img src="{% static 'personal/img/25.jpg' %}" width="422" height="633">
    <br><br>
    <img src="{% static 'personal/img/26.jpg' %}" width="422" height="633">
    <br><br>
    <img src="{% static 'personal/img/27.jpg' %}" width="422" height="633">
    <br><br>
    <img src="{% static 'personal/img/28.jpg' %}" width="816" height="612">
    <br><br>
    <img src="{% static 'personal/img/29.jpg' %}" width="816" height="612">
    <br><br>


</div>
{% endblock %}